* {
    font-family: "Poppins", sans-serif;
  }
  h1 {
    text-align: left;
    font-weight: 300;
    font-size: 55px;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #ffd500;
  }
  h2 {
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    color: #ffd500;
    font-weight: 300;
    font-size: 40px;
  }
  h3 {
    color: #ffd500;
    font-weight: 300;
    font-size: 20px;
  }
  p {
    color: white;
  }
  body {
    background-color: #171a26;
  }
  .page {
    width: 1200px;
    background-color: #255974;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 50px;
    padding-top: 35px;
  }
  .vis-box {
    padding: 10px;
    width: 100%;
  }
  .titlepara {
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    border-top: 3px solid #ff0000cd;
    border-bottom: 3px solid #ff0000cd;
  }
  .pure-g {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .textcontent {
    padding-right: 40px;
    font-size: 15px;
    text-align: justify;
  }
  .red {
    color: #ff6369;
  }
  .brown {
    color: rgb(222, 161, 62);
  }
  .blue {
    color: rgb(63, 117, 245);
  }
  .teal {
    color: rgb(15, 236, 225);
  }
  .purple {
    color: rgb(222, 74, 222);
  }
  .white {
    color: white;
  }
  ul {
    list-style: none; /* Remove default bullets */
  }
  ul li::before {
    content: "\2022"; 
    color: white;
    font-weight: bold; 
    display: inline-block; 
    width: 1em;
    padding-top: 0.5em;
    margin-left: -1em; 
  }
  .bold {
    font-weight: "bolder";
  }
  .pure-u-1-1 {
    color: white;
  }
  .pure-u-2-3 {
    color: white;
  }
  .yellow {
    color: #ffd500;
  }
  .border {
    border-left: 3px solid #ff0000cd;
    margin-bottom: 30px;
    height: 130px;
  }
  .border1 {
    border-left: 3px solid #ff0000cd;
    height: 415px;
  }
  .border2 {
    border-left: 3px solid #ff0000cd;
    margin-bottom: 40px;
    height: 500px;
  }
  .border2a {
    border-left: 3px solid #ff0000cd;
    height: 150px;
  }
  .border3 {
    border-left: 3px solid #ff0000cd;
    height: 400px;
  }
  
  .border4 {
    border-left: 3px solid #ff0000cd;
    height: 485px;
  }
  
  .border5 {
    border-left: 3px solid #ff0000cd;
    height: 100px;
  }
  
  .border6 {
    border-left: 3px solid #ff0000cd;
    height: 55px;
  }